---
Checks: 'bugprone-*,-bugprone-easily-swappable-parameters,portability-*,clang-analyzer-*,-clang-analyzer-cplusplus*,-clang-analyzer-security*,abseil-*'
WarningsAsErrors: 'clang-analyzer-*,abseil-*,-clang-analyzer-cplusplus*'
